<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title> 

    <style>

        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 20px;
            background-color: #FDF4E9; /* Set the background color to white */
            color: rgb(0, 0, 0);
        }

        .footer-line {
            border-top: 1px solid rgb(0, 0, 0);
            margin-top: 10px;
            margin-left: 50px;
            width: 1400px;
        }

    </style>
    
</head>
<body>
<footer>
    <div class="footer-line"></div>
    <div class="d-flex justify-content-center">
        <br>
        FARMLINK | For futher details check the official government website <a href="https://agriwelfare.gov.in/" style="color: black;">here.</a>
    </div>
</footer> <!-- End Footer Template -->
</body>
</html>

